html * {
    font-family: sans-serif;
}

h1, h2, h3 {
    text-align: center;
    background: #333;
    color: white;
    font-family: sans-serif;
    padding: 3rem;
}

body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

header {

    background: #333;
    text-align: center;
    }

img {
    width: 50%
}

footer {
    font-family: sans-serif;
    background: #333;
    color: white;
    padding: 3rem;
    margin-top: auto;
    text-align: center;
}

.afooter {
    color: white;
}
