html * {
    font-family: sans-serif;
}

h1, h2, h3 {
    text-align: center;
    background: #333;
    color: white;
    font-family: sans-serif;
    padding: 3rem;
}

img {
    width: 50%
}

footer {
    font-family: sans-serif;
    background: #333;
    color: white;
    padding: 3rem;
    margin-top: auto;
    text-align: center;
}

#footer_a {
    color: white;
}
