html {
    font-family: sans-serif;
}

h1, h2, h3 {
    text-align: center;
    background: #333;
    color: white;
    font-family: sans-serif;
    padding: 3rem;
}

img {
    width: 50%
}

footer {
    font-family: sans-serif;
    background: #333;
    color: white;
    padding: 3rem;
    margin-top: auto;
    text-align: center;
}

/* Classes */

.button {
    background-color: #333;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-align: center;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
}

.button a {
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: black;
    opacity: 0.5;
}

.afooter {
    color: white;
}

.main-nav {
    list-style: none;
    background-color: #333;
    padding: 1.6rem;
    /* position: fixed;
    overflow: auto;
    width: 100%; */
}
